################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestGitSolution/.vs/TestGitSolution/v16
/TestGitSolution/TestGitSolution/obj
