################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestGitSolution/.vs/TestGitSolution/v16
/TestGitSolution/TestGitSolution/obj
/TestGitSolution/TestGitSolution/bin/Debug/netcoreapp3.0
*.pdb
/DesignPatters/DesignPattern/obj/Debug
/TestGitSolution/.vs/TestGitSolution/DesignTimeBuild
/DesignPatters/DesignPattern/bin/Debug
